<%= render @cadastro %>

<div>
  <%= link_to "Editar", edit_cadastro_path(@cadastro) %> |
  <%= link_to "Voltar", cadastros_path %>

  <%= button_to "Apagar", @cadastro, method: :delete, form: { data: { turbo_confirm: "Você tem certeza disso? O Registro será apagado!!!" }} %>
</div>
